/* Горизонтальный разделитель (линия)
=========================================================== */
a.bal_link { color: #00C3FF; border-bottom: 1px solid rgba(0,195,255,0.3); transition: 0.2s all; }
a.bal_link:hover { border-bottom-color: transparent; opacity: 1; }
a.bal_link:active { opacity: 0.5; }


/* Адаптивность
=========================================================== */
@media screen and (max-width: 934px)
{



}